<span class="icon-input-btn">
    <i class="fas fa-tshirt fa-xs" style="color:#000103;"></i>
    <input type="submit" class="btn btn-primary btn-sm" value="Apparel">
  </span>
  <span class="icon-input-btn" style="color:#000103;">
    <i class="fas fa-fill fa-xs"></i>
    <input type="submit" class="btn btn-primary btn-sm" value="Color">
  </span>
  <span class="icon-input-btn">
    <i class="fas fa-copyright fa-xs" style="color:#000103;"></i>
    <input type="submit" class="btn btn-primary btn-sm" value="Brand">
  </span>
  <span class="icon-input-btn">
    <input type="submi" class="btn btn-primary btn-sm" value="Search">
  </span>
